<!DOCTYPE html>
<html>
<body>

<p><%= @weather_icon %></p>
<p><%= @latitude %></p>
<p><%= @longitude %></p>
<p><%= @city %></p>
<p><%= @state %></p>

<canvas id="icon" width="300" height="300"></canvas>

<script>
  var icon_animation = new Skycons({"color": "gray"});

  icon_animation.add("icon", <%= @weather_icon.to_json.html_safe %>);
  icon_animation.play();

</script>
</body>
</html>
